body {
	background-color: #220011;
	color: #eeeeee;

	font-family: "sans-serif";
}

#chat {
	height: 70%;
}

#input {
	width: 70%;
}

#username {
	width: 25%;
}

.input {
	background-color: #110000;
	color: #ffffff;

	border: none;
	padding: 5px;

	font-size: 12pt;
}

.button {
	background-color: #884466;
	color: #eeeeee;

	border: none;
	padding: 8px;
}
